body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom,
    #ffffff 0%,             /* Blanco arriba */
    rgb(254, 253, 182) 60%, /* Amarillo intermedio */
    rgb(255, 178, 89) 100% /* Naranja abajo */
  );
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', sans-serif;  /* letra que usan */
}
p {
  line-height: 1.75; /* separacion entre parrafos para mejor lectura*/
}


.text-faded {
  color: rgba(255, 255, 255, 0.219); /* color de la letra de pi solmaforos de la barra de abajo */
}
.page-section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.page-sectionmapa {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.map-wrapper {
  width: 100%;
  max-width: 800px; /* Ajust치 este valor al que tenga tu mapa */
  margin: 0 auto;
}

.img-indiceuv {
  width: 100%;
  height: auto;
  max-height: none; /* Asegura que no se recorte si ten칤a un l칤mite */
}

@media (max-width: 768px) {
  .page-sectionmapa {
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}


@media (max-width: 768px) {
  .page-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .grafico-container {
    padding: 10px;
  }

  .boton-descargar {
    font-size: 14px;
    padding: 8px 16px;
  }
}


#mainNav {
  background-color: rgb(172, 53, 15); /* BARRA color de la barra */
  font-family: 'Segoe UI', sans-serif;
}
#mainNav .navbar-brand {
  color: #ffffff; /* BARRA */
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: rgb(255, 255, 255);  /* BARRA */
  font-weight: 700; /* que tan negrita */
}
#mainNav .navbar-nav .nav-item.active .nav-link {
  color: #ffffff; /* de que color el inicio */
  text-decoration: underline; 
}                 

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 1.5rem;       /* Aumenta el tama침o de los textos del men칰 */
    padding: 0 1.5rem;       /* Agrega separaci칩n horizontal entre botones */
  }

  #mainNav .navbar-nav {
    gap: 1rem;               /* Espacio entre elementos si usa flex (opcional) */
  }

  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
  }

  #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
}


@media (max-width: 768px) {
  #mainNav .navbar-nav {
    flex-wrap: wrap;
    gap: 4.5px; 
  }

  #mainNav .nav-item {
    margin-bottom: 5px;
  }
}


.intro {
  position: relative;
}

.logo-espaciado {
  max-height: 180px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 30px;
}


.espacio-grande {
  margin-bottom: 4rem !important;
}

.espacio-peque침o {
  margin-bottom: 1rem !important;
}

/* para importancia */
@media (min-width: 992px) {

  .image-container img {
    display: block;  /* Esto hace que cada imagen se apile una debajo de la otra */
    width: 100%;     /* Asegura que las im치genes ocupen el ancho completo del contenedor */
    margin-bottom: 2rem; /* Espacio entre las im치genes */
  }
}
@media (max-width: 768px) {
  .image-container img {
    width: 120%;      /* Hace que se vean m치s grandes en celular */
    max-width: none;  /* Permite que superen el ancho del contenedor */
    margin-left: -10%; /* Centra visualmente la imagen al agrandarla */
  }
}

.footer {
   background-color: rgb(172, 53, 15); /* color de la parte bieeeen de abajo rgb(172, 53, 15) */
}



.mbt{
  padding-top: 2rem;
}

.mbt1{
  padding-top: 1.25rem;
}

a.link:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.section-content{
  font-family: 'Segoe UI' !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}

/* Estilos para el gr치fico y boton (gr치ficos.html) */
.grafico-container {
  width: 95%;
  max-width: 1120px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grafico-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100% !important;
}

.boton-descargar {
  background-color: rgb(172, 53, 15);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto;
  display: block;
  width: auto;
  max-width: 260px;
  text-align: center;
}

.boton-descargar:hover {
  background-color: rgb(172, 53, 15);
}


/* home */
/* Celular */
@media (max-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
  }

  .intro-left,
  .intro-right {
    width: 100% !important;
    display: contents; /* permite reordenar im치genes individuales */
  }

  .img-orden-1 {
    order: 1;
  }

  .img-orden-2 {
    order: 2;
  }

  .img-orden-3 {
    order: 3;
  }
  
  .intro-img {
    width: 100%;
    margin-bottom: 1rem;
  }

}



/* Escritorio */
@media (min-width: 992px) {
  .intro {
    display: flex;
    gap: 3rem; /* Espacio entre columnas */
  }

  .intro-left {
    width: 60%;
  }

  .intro-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .intro-img {
    width: 100%;
    margin-bottom: 1rem;
  }
}


/* mapa */
.map-wrapper {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 768px) {
  .nav-link {
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
}


/* PARA HOME */
.img-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-overlay {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 12px;
  z-index: 2;
  text-align: center;
  line-height: 1.5;
}

.text-overlay-Solmaforo5 {
   top: 42%;  /* que tan centrado esta de arriba */
  font-size: 1.60rem;
  color: white;
  font-weight: bold;
}

.text-overlay-Solmaforo6 {
  top: 50%;  /* que tan centrado esta de arriba */
  font-size: 1.5rem;
  color: rgb(172, 53, 15); /* color bordo oscuro */
  font-weight: 500;  /* medio */
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
  text-align: justify;
}

@media (max-width: 768px) {
  .text-overlay-Solmaforo6 {
    font-size: 1.35rem; /* reducimos el tama침o para que quepa en la pantalla */
    line-height: 1.2; /* ajustamos el interlineado */
    font-weight: 500;
    width: 90%; /* que no ocupe todo el ancho para que quede aire a los lados */
    left: 50%;
    transform: translateX(-50%);
    top: 8%;  /* que tan centrado esta de arriba */
    bottom: 10px; /* lo bajamos un poco si lo necesit치s */
    padding: 10px;
  }
}


.text-overlay-Solmaforo3 {
  top: 42%;  /* que tan centrado esta de arriba */
  font-size: 1.1rem;
  color: white;
  font-weight: 500;  /* medio */
}

.text-overlay-Solmaforo4 {
  top: 40%;  /* que tan centrado esta de arriba */
  font-size: 1.3rem;
  color: rgb(172, 53, 15);
  font-style: italic;
  font-weight: 500;  /* medio */
}

/* tabla uv home */

.img-container img {
  display: block;
  width: 100%;
}

.contenedor-overlay {
  position: relative;
  width: 100%;
}

.tabla-iuv-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 30px 40px 30px;
  font-size: 0.9rem;
  color: white;
  font-weight: 500;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% repeat(5, 14%);
  align-items: center;
  text-align: center;
  row-gap: 2.3px;
  column-gap: 5px;
}

/* columnas dentro de la tabla */
.tabla-iuv-overlay .columna-tabla-iuv {
  padding: 4px;
  text-align: center;
}

/* encabezado de la tabla */
.tabla-iuv-overlay .encabezado-con-margen {
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(172, 53, 15);
}

/* colores por categor칤a - todos redondeados */
.color-extrema {
  background-color: rgb(197, 119, 169);
  border-radius: 7px;
}

.color-muy-alta {
  background-color: rgb(222, 0, 35);
  border-radius: 7px;
}

.color-alta {
  background-color: rgb(239, 160, 0);
  border-radius: 7px;
}

.color-moderada {
  background-color: rgb(221, 210, 0);
  border-radius: 7px;
}

.color-baja {
  background-color: rgb(80, 183, 45);
  border-radius: 7px;
}
@media (max-width: 768px) {
  .tabla-iuv-overlay {
  padding: 10px 40px 40px 40px; /* top, right, bottom, left */
  font-size: 1rem;
}
.tabla-iuv-overlay .columna-tabla-iuv {
  padding: 8px;
  text-align: center;
}
.tabla-iuv-overlay .encabezado-con-margen {
  margin-top: 1rem;
  margin-bottom: 0;
  color: rgb(172, 53, 15);
}
}




/* PARA indice uv */
.contenedor-uv {
  position: relative;
  width: 100%;
}

.imagen-uv {
  width: 100%;
  display: block;
}

.texto-superpuesto-uv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px 30px 30px 25px; /* top, right, bottom, left */
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.fila-numeros {
  display: grid;
  grid-template-columns: 10% 10% 6.66% 6.66% 6.66% 10% 10% 6.66% 6.66% 6.66% 20%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 8px;
  column-gap: 2px;
  padding: 2px 20px 2px 0px; /* top, right, bottom, left */
}

.fila-categorias {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columnas iguales */
  text-align: center;
  font-size: 12px;
  column-gap: 2px;

}

@media (max-width: 768px) {

.texto-superpuesto-uv {
  padding: 20px; /* top, right, bottom, left */
}

.fila-numeros {
  font-size: 12px;
  margin-bottom: 3px;
  column-gap: 1px;
  padding: 2px 10px 2px 0px; /* top, right, bottom, left */
}

.fila-categorias {
  font-size: 7.4px;
  column-gap: 2px;
}
  }




/* PARA IMPORTANCIA IMAGEN 1 */

.contenido-superpuesto1 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 90%;
  display: grid !important;
  grid-template-columns: 40% 25% 35%;
  column-gap: 20px;
}

/* columnas espec칤ficas dentro de contenido-superpuesto */
.columna1 {
  border-radius: 10px;
  box-sizing: border-box;
}

.columna1:nth-child(1) {
  font-size: 11px;
  padding: 120px 0px 0px 10.5vw; /* top, right, bottom, left */
}

.columna1:nth-child(2) {
  font-size: 14px;
  padding: 120px 0px 0px 50px;
}

.columna1:nth-child(3) {
  font-size: 12px;
  padding: 30px 0px 0px 50px;
}

/* tabla IUV dentro de la primera columna */
.iuv-fila {
  display: flex;
  margin-bottom: 8px;
  column-gap: 5px;
}

.iuv-celda {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  border-radius: 10px;
  color: white;
}

.iuv-celda:first-child {
  flex: 2; /* hace que la primera celda sea m치s ancha */
}

.iuv-celda:last-child {
  flex: 0.6;
}

/* texto dentro de columna 2 y 3 */
.fila-texto {
  text-align: center;
  font-weight: bold;
  color: rgb(172, 53, 15);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 14px;
  border: 1px solid rgb(172, 53, 15);
}

@media (max-width: 768px) {
  .contenido-superpuesto1 {
    top: 0%;
    left: 0;
    width: 100%;
    column-gap: 5px;
      grid-template-columns: 40% 23% 37%;
  }
.columna1:nth-child(1) {
  font-size: 5.5px;
  padding: 55px 10px 0px 82px; /* top, right, bottom, left */
  
}

.columna1:nth-child(2) {
  padding: 50px 8px 0px 8px; /* top, right, bottom, left */
}

.columna1:nth-child(3) {
  padding: 10px 25px 0px 10px;
  
}
.iuv-celda {
  padding: 4px;

}
.iuv-fila {
  margin-bottom: 2px;
}

.fila-texto {
  padding: 3px;
  margin-bottom: 10px; 
  font-size: 7px;
}
}


/* PARA IMPORTANCIA IMAGEN 2 y 4 */
.text-overlay-Importancia2y4 {
   top: 42%;  /* que tan centrado esta de arriba */
  font-size: 1.80rem;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) { /* PARA IMPORTANCIA IMAGEN 2 y 4 ACA SON LOS TITULOS */
  .text-overlay-Importancia2y4 {
   top: 40%;  /* que tan centrado esta de arriba */
  font-size: 0.8rem;

}
}


/* PARA IMPORTANCIA IMAGEN 3 */
.intro-img {
  display: block;
  width: 100%;
  height: auto;
}


.tabla-superpuesta {
  position: absolute;
  top: 0; /* Puedes ajustar para moverla */
  left: 0;
  width: 100%;
  padding: 20px;
}

.tabla-superpuesta table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px; /* Espacio entre celdas */
}

.tabla-superpuesta th {
  padding: 8px;
  color: white;
  font-weight: bold;
  text-align: center;
   text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.tabla-superpuesta th.falso {
  background-color: rgb(222, 0, 35);
  border-radius: 6px;
}

.tabla-superpuesta th.verdadero {
  background-color: rgb(80, 183, 45);
  border-radius: 6px;
}

.tabla-superpuesta td {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid transparent;
  text-align: center;
  font-size: 1.20rem;
  color: rgb(172, 53, 15); /* Bord칩 */
  font-weight: 500;
  column-gap: 10px;
}

.tabla-superpuesta td:nth-child(1) {
  border: 1px solid rgb(252, 187, 198);
  background-color: rgb(251, 222, 227);
}

.tabla-superpuesta td:nth-child(2) {
  border: 1px solid rgb(152, 197, 148);
  background-color: rgb(210, 236, 201);
}

@media (max-width: 768px) { 
.tabla-superpuesta {
  padding:  6px 6px 6px 6px; /* top, right, bottom, left */
}

.tabla-superpuesta table {
  border-spacing: 2px; /* Espacio entre celdas */
}

.tabla-superpuesta th { 
  padding: 2px;
  font-size: 0.6rem;
}
.tabla-superpuesta td {
  padding: 3px;
  font-size: 0.6rem;

}
}



/* PARA IMPORTANCIA IMAGEN 5*/
.img-container {
  position: relative;
  display: inline-block;
}

.intro-img {
  width: 100%;
  height: auto;
  display: block;
}



.overlay5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 35px;

}

.texto-superior5 {
  font-size: 1.35rem;
  color: #fff;
  background: rgb(172, 53, 15); /* similar al rojo de la imagen */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.fila5 {
  display: flex;
  align-items: center;
  height: 20%; /* Ajusta alto de cada fila */
}

.encabezado5 {
  font-weight: bold;
  font-size: 1.1rem;
  color: rgb(172, 53, 15);
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: center;
  border: 0.95px solid rgb(172, 53, 15);
}

.columna5 {
  text-align: center;
  font-weight: bold;
  color: #8B2D00;
  padding: 2px;
  box-sizing: border-box;
  font-size: 1.1rem;
}

.fila5-tipo {
  font-size: 1.35rem;
  color: #ffffff;
  background: rgb(172, 53, 15); 
  border-radius: 10px;
  padding: 5px;

}

.circulo-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circulo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}



@media (max-width: 768px) {
  .overlay5 {
    padding: 10px;
  }

  .texto-superior5 {
    font-size: 0.6rem;
    padding: 2px;
    margin-bottom: 2px;
  }

  .encabezado5 {
    font-size: 0.4rem;
    padding: 1px;
    margin-bottom: 0px;
  }
  .fila5 {
    height: 12%; /* Ajusta alto de cada fila */
  }

  .columna5 {
    font-size: 0.5rem;
    padding: 3px;
  }

  .fila5-tipo {
    font-size: 0.5rem;
    padding: 3px;
  }

  .circulo {
    width: 20px;
    height: 20px;
    padding: 3px;
  } 
}




/* PARA IMPORTANCIA IMAGEN 6 */

.overlay-text-oms {
  position: absolute;
  bottom: 50%; /* Pegado abajo de la imagen */
  top: 0%;
  width: 100%; /* Ocupa todo el ancho de la imagen */
  padding: 20px;
  text-align: center;
  font-size: 1.20rem;
  color: rgb(172, 53, 15); /* Bord칩 */
  font-weight: 500; 
}

.overlay-text-oms a {
  font-weight: bold;
  color: rgb(172, 53, 15);
  
}
@media (max-width: 768px) { 
  .overlay-text-oms {
  padding: 10px 10px 5px 10px; /* top, right, bottom, left */
  font-size: 0.6rem;
  }
}



/* PARA sobre nosotros */
.sobre-nosotros-container {
  position: relative;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
}


.imagen-fondo-sobrenosotros {
  width: 100%;
  max-width: 1140px; /* ancho t칤pico de contenedor Bootstrap */
  margin: 0 auto;     /* centrado horizontal */
  display: block;
  height: auto;
}

.contenido-superpuestosn {
  position: absolute;
  top: 0;
  left: 0;
  padding: 38px;
  font-size: 1.5rem;
  color: rgb(172, 53, 15); /* color bordo oscuro */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;       /* centra horizontalmente  */
  text-align: center;
  font-weight: 500;  
  margin-top: 5px;    
}

.equipo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.foto-equipo {
  text-align: center;
}

.foto-equipo img {
  width: 120px;
  height: auto;
  border-radius: 10px;
}

.texto-fotosn {
  margin-top: 8px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .contenido-superpuestosn {
    font-size: 0.6rem;
    padding: 20px;
  }
  .equipo-container {
  margin-top: 10px;
}
  .foto-equipo img {
  width: 80px;
}

.texto-fotosn {
  margin-top: 3px;
}
}





/* PARA QUE SE VEA BIEN LA BARRA EN EL CELU */
@media (max-width: 768px) {
  #mainNav .container,
  #mainNav .navbar-collapse {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }


  #mainNav .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    justify-content: center !important;
    overflow-x: visible !important;  /* No scroll */
    width: 100% !important;
    padding: 0;
    margin: 0;
    white-space: nowrap;
  }


  #mainNav .navbar-nav .nav-item {
    margin: 0 4px;  /* Menos margen para que quepan m치s */
    flex-shrink: 1; /* Permite que los items se reduzcan si hace falta */
  }


  #mainNav .navbar-nav .nav-link {
    padding: 0.5rem 0.5rem;  /* Menos padding */
    font-size: 0.85rem;         /* Fuente un poco m치s chica */
    white-space: nowrap;
    display: inline-block;
  }
}


/* para los logos del pie de pagina */
.logo-footer {
  height: 60px;         /* tama침o peque침o */
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo-footer:hover {
  transform: scale(1.1);  /* efecto al pasar el mouse */
}

.logos-footer {
  background-color: white;
  padding: 10px 20px;
  border-radius: 12px;
  display: inline-flex;
  max-width: 450px; /* tamano del cuadrado */
  justify-content: center;
  margin: 0 auto; /* centra horizontalmente */
  gap: 10px; /* espacio entre logos */
}

@media (max-width: 768px) {
  .logo-footer {
    height: 40px; /* tamano de las fotos */
  }
  .logos-footer {
  max-width: 300px; /* 游녣 ajust치 este valor a lo que necesites */
}
}

/* A PARTIR DE ACA ES  */




.caja-fondoimportancia3 {
  background-color: white;
  border: 1px solid rgb(197, 63, 18); /* Bord칩 */
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}
@media (max-width: 768px) {
  .caja-fondoimportancia3 {
    padding: 10px;
  }
}


