{% extends "proyectowebapp/base.html" %}
{% load static %} <!-- importar los contenidos -->


{% block content %} <!-- contenido cambiante en las distintas paginas -->


<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <div class="intro-left order-2">
          <div class="img-container">
          <img class="intro-img img-fluid rounded img-orden-2"
               src="{% static 'proyectowebapp/img/00_Solmaforos_5.png' %}" alt="">
          <div class="text-overlay text-overlay-Solmaforo5">
               ¿QUÉ ES UN SOLMÁFORO?
          </div>
          </div>

     <div class="img-container">
          <img class="intro-img img-fluid rounded img-orden-2"
               src="{% static 'proyectowebapp/img/00_Solmaforos_6.png' %}" alt="">
          <div class="text-overlay text-overlay-Solmaforo6">
               El solmáforo es un semáforo que mide los niveles de rayos UV y ofrece una señalización visual clara y fácil de entender. El indice UV solar mundial (IUV) es una medida de la intensidad de la radiación UV solar en la superficie terrestre.<br><br>
               Todos estamos expuestos a la radiación UV procedente del sol y de numerosas fuentes artificiales utilizadas en la industria, el comercio y durante el tiempo libre.<br><br>
               La exposición excesiva a la radiación UV puede provocar efectos adversos en la salud humana, como quemaduras solares, cáncer de piel y cataratas.<br><br>
               El solmáforo es una herramienta útil para ayudar la las personas a protegerse de los efectos nocivos de la radiación UV.
          </div>
          </div>
     </div>
   
      <div class="intro-right">
        <img class="intro-img img-fluid rounded img-orden-1"
             src="{% static 'proyectowebapp/img/00_Solmaforos_1.png' %}" alt="">
    
             <div class="contenedor-overlay">
  <img class="intro-img img-fluid rounded img-orden-2"
       src="{% static 'proyectowebapp/img/00_Solmaforos_2.png' %}" alt="">

  <div class="tabla-iuv-overlay">
    <div class="fila-header">
      <div class="columna izquierda"><strong>CATEGORÍA DE EXPOSICIÓN</strong></div>
      <div class="columna derecha"><strong>INTERVALO DE VALORES DEL IUV</strong></div>
    </div>

    <div class="fila">
      <div class="columna izquierda">EXTREMADAMENTE ALTA</div>
      <div class="columna derecha">11+</div>
    </div>
    <div class="fila">
      <div class="columna izquierda">MUY ALTA</div>
      <div class="columna derecha">8 A 10</div>
    </div>
    <div class="fila">
      <div class="columna izquierda">ALTA</div>
      <div class="columna derecha">6 A 7</div>
    </div>
    <div class="fila">
      <div class="columna izquierda">MODERADA</div>
      <div class="columna derecha">3 A 5</div>
    </div>
    <div class="fila">
      <div class="columna izquierda">BAJA</div>
      <div class="columna derecha">&lt;2</div>
    </div>
  </div>
</div>

<a href="{% url 'indiceuv' %}">
  <div class="img-container">
    <img class="intro-img img-fluid rounded img-orden-2"
         src="{% static 'proyectowebapp/img/00_Solmaforos_3.png' %}" alt="Ir a Índice UV">
    <div class="text-overlay text-overlay-Solmaforo3">
      ¡CUIDATE!<br>Consultá el índice UV en tu lugar más cercano.
    </div>
  </div>
</a>
       <div class="img-container">
  <img class="intro-img img-fluid rounded img-orden-2"
       src="{% static 'proyectowebapp/img/00_Solmaforos_4.png' %}" alt="">
  <div class="text-overlay text-overlay-Solmaforo4">
    Es muy importante para tu salud.
  </div>
</div>

   
  </div>
</section>


{% endblock %} <!-- fin del contenido cambiante en las distintas paginas -->