{% extends "proyectowebapp/base.html" %}
{% load static %} <!-- importar los contenidos -->


{% block content %} <!-- contenido cambiante en las distintas paginas -->

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <div class="intro-left order-2">
        <img class="intro-img img-fluid rounded img-orden-2"
             src="{% static 'proyectowebapp/img/00_Solmaforos_5.png' %}" alt="">
        <img class="intro-img img-fluid rounded img-orden-2"
             src="{% static 'proyectowebapp/img/00_Solmaforos_6.png' %}" alt="">
      </div>
   
     <div class="intro-right d-flex flex-column">
  <div class="img-wrapper img-orden-1">
    <img class="intro-img img-fluid rounded" 
         src="{% static 'proyectowebapp/img/00_Solmaforos_1.png' %}" alt="">
  </div>
  <div class="img-wrapper img-orden-2">
    <img class="intro-img img-fluid rounded" 
         src="{% static 'proyectowebapp/img/00_Solmaforos_2.png' %}" alt="">
  </div>
  <div class="img-wrapper img-orden-2">
    <a href="{% url 'indiceuv' %}" class="d-block">
      <img class="intro-img img-fluid rounded" 
           src="{% static 'proyectowebapp/img/00_Solmaforos_3.png' %}" alt="Ir a Índice UV">
    </a>
  </div>
  <div class="img-wrapper img-orden-2">
    <img class="intro-img img-fluid rounded" 
         src="{% static 'proyectowebapp/img/00_Solmaforos_4.png' %}" alt="">
  </div>
</div>

  </div>
</section>


{% endblock %} <!-- fin del contenido cambiante en las distintas paginas -->
