{% extends "proyectowebapp/base.html" %}
{% load static %} <!-- importar los contenidos -->

{% block content %} <!-- contenido cambiante en las distintas paginas -->

<section class="page-sectionmapa">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="map-wrapper">
        {{ mapa|safe }}

        <div class="text-center mt-4">
          <div class="contenedor-overlay">
<div class="contenedor-uv">
  <img src="{% static 'proyectowebapp/img/01_IndiceUV.png' %}" alt="referencia" class="imagen-uv">

  <div class="texto-superpuesto-uv">
    <div class="fila-numeros">
      <div class="color-baja">1</div>
      <div class="color-baja">2</div>
      <div class="color-moderada">3</div>
      <div class="color-moderada">4</div>
      <div class="color-moderada">5</div>
      <div class="color-alta">6</div>
      <div class="color-alta">7</div>
      <div class="color-muy-alta">8</div>
      <div class="color-muy-alta">9</div>
      <div class="color-muy-alta">10</div>
      <div class="color-extrema">11+</div>
    </div>
    <div class="fila-categorias">
      <div class="color-baja">BAJA</div>
      <div class="color-moderada">MODERADA</div>
      <div class="color-alta">ALTA</div>
      <div class="color-muy-alta">MUY ALTA</div>
      <div class="color-extrema">EXTREMADAMENTE ALTA</div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %} <!-- fin del contenido cambiante en las distintas paginas -->