{% extends "proyectowebapp/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/solmaforo.css' %}">

<section class="page-section clearfix">

  <div class="sobre-nosotros-container">
    <img src="{% static 'proyectowebapp/img/03_sobrenosotros_1.png' %}" alt="Sobre nosotros" class="imagen-fondo-sobrenosotros">

    <div class="contenido-superpuestosn">
      <p>Esta página de <strong>Solmáforos Córdoba</strong> fue desarrollada en el marco académico de un Proyecto Integrador (tesina de grado) de la carrera de <strong>Ingeniería Biomédica</strong>, Facultad de Ciencias Exactas, Físicas y Naturales (FCEFyN), Universidad Nacional de Córdoba (UNC).</p>

      <p>Nuestro objetivo es brindar una herramienta accesible y basada en datos para visualizar y comparar índices de radiación UV en distintas ubicaciones dentro de la provincia, promoviendo conciencia sobre la exposición solar.</p>

      <p><strong>Equipo</strong></p>

      <div class="equipo-container">
        <div class="foto-equipo">
          <img src="{% static 'proyectowebapp/img/LucianaBussi.jpeg' %}" alt="Luciana Bussi">
          <p class="texto-fotosn">Luciana Bussi</p>
        </div>
        <div class="foto-equipo">
          <img src="{% static 'proyectowebapp/img/MLuzRivoira.jpeg' %}" alt="María Luz Rivoira">
          <p class="texto-fotosn">María Luz Rivoira</p>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}
